@use 'base/variables' as v;

.main-content{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 5rem;
    width: 100%;
    z-index: 99;
    margin-top: 45rem;
    background: v.$white;

    p{
        font-size: 2.2rem;
    }
}

.seccion-info{
    h2{
        margin-top: -18rem;
        margin-bottom: 5rem;
        font-size: 15rem;
        color: v.$gray!important;
        font-weight:200;

    }

    p{
        font-size: 2.2rem;
        color: v.$gray;
        margin: 0 auto;
        width: 75%;
    }
}



.seccion_visit{
    position: relative;
    margin-top: 10rem;
    overflow: hidden;
    background:#333340;

    .layout{
        position: absolute;
        top: -50rem;
        left: 0;
        z-index: 3;
        transform: rotate(180deg);
        width: 100%;
        height: 100%;
        background: rgb(0,0,0);
        background: -moz-linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(30,30,38,0) 0%, rgba(47,47,59,1) 42%, rgba(51,51,64,1) 73%);
        background: -webkit-linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(30,30,38,0) 0%, rgba(47,47,59,1) 42%, rgba(51,51,64,1) 73%);
        background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(30,30,38,0) 0%, rgba(47,47,59,1) 42%, rgba(51,51,64,1) 73%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#333340",GradientType=1);
    }
    h2{
        position: relative;
        z-index: 4;
        margin-bottom: -10rem;
        font-size: 15rem;
        color: v.$gray!important;
        font-weight:200;

    }
    .circle-video{
        width: 90rem;
        height: 90rem;
        border-radius: 100%!important;
        overflow: hidden;
        margin: 0 auto;
    
        video{
            object-fit: cover;
            height: 90rem;
            border-radius: 100%!important;

        }
    }
}

.seccion_bottom{
    position: relative;
    background-color: v.$mainColor;
    margin-top: -20rem;
    height: auto;
    min-height: 40rem;
    overflow: hidden;
    h2{
        position: absolute;
        left: -60rem;
        top: 20rem;
        transform: rotate(270deg);
        font-weight: lighter;
        background-color: v.$mainColor;
        z-index: 99;
    }
    @media (min-width: 1024px) {
        .swiper {
            width: 85%;

            .swiper-wrapper {
                text-align: left!important;
            }
        }
    }


    @media (min-width: 768px) {
        .swiper-wrapper {
            text-align: center;
        }
    }
}